{% extends "base.html" %}

{% block title %}{{ super() }} - 关于工具{% endblock %}

{% block content %}
<div class="bg-white rounded-lg shadow-md p-6 transition-all duration-300 hover:shadow-lg">
    <h1 class="text-2xl font-bold text-black-800 mb-6">关于工具</h1>
    <div class="mb-8">
        <h2 class="text-xl font-semibold text-gray-700 mb-4">非商业声明</h2>
        <p class="text-sm">本工具为个人分享作品，仅供学习、研究或内部使用，<strong class="text-red-600">严禁用于任何商业目的</strong>（包括但不限于销售、租赁、外包服务等），若发现任何商业用途，视为侵权行为，将追究法律责任。</p>

    </div>
    <div class="mb-8">
        <h2 class="text-xl font-semibold text-gray-700 mb-4">工具信息</h2>
        <div class="space-y-3">
            <div class="flex">
                <span class="w-32 text-gray-600">工具名称:</span>
                <span class="text-gray-800">NetAssist_简化版</span> 
            </div>
            <div class="flex">
                <span class="w-32 text-gray-600">版本号:</span>
                <span class="text-gray-800">{{ app_version_text }} 简化版</span>
            </div>
            <div class="flex">
                <span class="w-32 text-gray-600">开发语言:</span>
                <span class="text-gray-800">Python</span>
            </div>
            <div class="flex">
                <span class="w-32 text-gray-600">开发框架:</span>
                <span class="text-gray-800">Flask + Tailwind CSS</span>
            </div>
        </div>
    </div>

    <div class="mb-8">
        <h2 class="text-xl font-semibold text-gray-700 mb-4">功能说明</h2>
        <ul class="list-disc pl-5 text-gray-700 space-y-2">
            <li>支持对网络设备维保状态和EOS状态统计后自动生成图表，以及自动生成各分区设备数量占比分布图表</li>
            <li>支持根据LLDP自动生成网络拓扑，包括总体拓扑和各分区拓扑</li>
            <li>支持根据不同场景下数据表自动批量生成脚本，包括变更脚本和回退脚本</li>
            <li>支持对文本内容排序后再对比，方便快速发现差异</li>
        </ul>
    </div>

    <div class="mb-8">
        <h2 class="text-xl font-semibold text-gray-700 mb-4">联系方式</h2>
        <div class="space-y-3">
            
            <div class="flex items-center">
                <i class="fa fa-user text-gray-500 w-5 mr-3"></i>
                <span class="text-gray-800">开发作者：Wenshixiong   QQ交流群：1098907087</span>
            </div>
            <div class="flex items-center">
                <i class="fa fa-envelope text-gray-500 w-5 mr-3"></i>
                <span class="text-gray-800">如有任何问题或建议，请反馈信息至邮箱：1205244490@qq.com</span>
            </div>

        </div>
    </div>




</div>
{% endblock %}